.popup__error-text {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    visibility: hidden;
    max-width: 238px;
    min-height: 30px;
    }

@media screen and (min-width: 900px) {
    .popup__error-text {
        max-width: 358px;
    }
    
}

