@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_auth/header__link_auth.css);
@import url(./blocks/header/__userEmail/header__userEmail.css);
@import url(./blocks/header/__box/header__box.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/photo-cards/photo-cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);
@import url(./blocks/card/__under/card__under.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/card/__delete-button/card__delete-button.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup//_photo/popup_photo.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_profile/popup_profile.css);
@import url(./blocks/popup/_card/popup_card.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__photo-name/popup__photo-name.css);
@import url(./blocks/popup/__photo-image/popup__photo-image.css);
@import url(./blocks/popup/__photo-container/popup__photo-container.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__field/_profile_name/popup__field_profile_name.css);
@import url(./blocks/popup/__field/_profile_job/popup__field_profile_job.css);
@import url(./blocks/popup/__field/_card_name/popup__field_card_name.css);
@import url(./blocks/popup/__field/_card_link/popup__field_card_link.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_profile/popup__container_profile.css);
@import url(./blocks/popup/__container/_card/popup__container_card.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__error-text/popup__error-text.css);
@import url(./blocks/popup/__error-text/_active/popup__error-text_active.css);
@import url(./blocks/popup/__field/_type_error/popup__field_type_error.css);
@import url(./blocks/popup/__save-button/_disable/popup__save-button_disable.css);
@import url(./blocks/popup/__confirm-button/popup__confirm-button.css);
@import url(./blocks/popup/__field/_avatar_link/popup__field_avatar_link.css);
@import url(./blocks/popup/_avatar/popup_avatar.css);
@import url(./blocks/popup/_confirm/popup_confirm.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/card/__likes/card__likes.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-cover/profile__avatar-cover.css);
@import url(./blocks/card/__delete-button/_active/card__delete-button_active.css);
@import url(./blocks/authForm/authForm.css);
@import url(./blocks/authForm/__title/authForm__title.css);
@import url(./blocks/authForm/__input/authForm__input.css);
@import url(./blocks/authForm/__input/_email/authForm__input_email.css);
@import url(./blocks/authForm/__input/_password/authForm__input_password.css);
@import url(./blocks/authForm/__button/authForm__button.css);
@import url(./blocks/authForm/__link/authForm__link.css);
@import url(./blocks/popup/__title/_infoTooltip/popup__title_infoTooltip.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__container/_infoTooltip.css/popup__container_infoTooltip.css);



body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Inter", Arial, sans-serif;
  position: relative;
}