.profile__info {
    margin: 26px 0 0 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "title edit-button"
    "subtitle .";
    row-gap: 14px;
    column-gap: 10px;
}

@media screen and (min-width:900px) {
    .profile__info {
        margin: 0 auto 0 30px;
        row-gap: 16px;
        column-gap: 18px;
    }
    
}

