.header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0;
    margin-left: 27px;
    padding: 0;
}

@media screen and (min-width: 900px) {
    .header__logo {
      width: 142px;
      height: 33px;
      margin: 0;
    }
}