.card {
    position: relative;
    background: #FFFFFF;
    border-radius: 10px;
    height: 361px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 282px;
}

.card:last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 600px) {
    .card {
        margin: 0;
        padding: 0;
    } 
}